.close-fake{
  --background: transparent;
  ion-icon{
    font-size: 2rem;
    color: var(--ion-color-light-contrast);
  }
  margin-top: 40px;
}

ion-content{
  background: rgba(44,39,45,0.0);
}
ion-slides{
  height: 80%;
}

:host{
  .cloud{
    font-size: 25px !important;
  }
}

.modal-fullscreen {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

