.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 20px;
  justify-content: center;

  grid-template-rows: masonry;
}

.grid-item{
  width: 230px;
  //height: 200px;
  //object-fit: cover;


}
