<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card-content>
    <ion-card-title>
      Upload Files
    </ion-card-title>
  </ion-card-content>

  <ion-card-subtitle>
    <p class="text-secondary">{{name}}</p>
  </ion-card-subtitle>

  <ion-card-content>
    <input multiple type="file" id="selectedFile" style="display: none;" (change)="dataPdf($event)"/>
    <ion-button onclick="document.getElementById('selectedFile').click();"> files</ion-button>
    <ion-button (click)="onSubmit()">Send</ion-button>
  </ion-card-content>

</ion-card>

<!--  img-->
  <ion-card>
    <ion-card-content class="content">
      <div *ngFor="let img of imgs; let i = index" class="overflow">
            <img src="{{link + img.name}}" alt="" tappable (click)="openPreview(imgs[i])">
      </div>
    </ion-card-content>

<!--    pdf-->
    <ion-card-content>
      <div class="for" *ngFor="let pdf of pdfs;">
        <div class="if">

          <img src="assets/pdf.png" alt="" width="100" height="100">
          <ion-card-subtitle>{{pdf.name}}</ion-card-subtitle>

        </div>
      </div>
    </ion-card-content>

<!--    other files-->
    <ion-card-content>
      <div class="for" *ngFor="let file of files;">
        <div class="if">
          <img src="assets/other.png" alt="" width="100" height="100">
          <ion-card-subtitle style="overflow: hidden; white-space: normal;" class="ion-text-wrap">{{file.name}}</ion-card-subtitle>
        </div>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>
